@use "../theme" as *;

.bar-box {
  .date-time-box {
    color: $fg;
    background-color: $bg-alt;
    margin: 6px 6px 6px 0;
    border-radius: 10px;

    separator {
      background-color: $bg-urg;
      margin: 7px 0;
    }

    label {
      margin: 0 10px;
    }
  }
}
