@use "../theme" as *;
@use "workspaces";
@use "clients";
@use "date_time";
@use "tray";
@use "kb_layout";

.bar-window {
  .bar-box {
    color: $fg;
    background-color: $bg;
    border-top: 1px solid $bg-urg;
    min-height: 45px;
  }
}
