@use "../theme" as *;

.bar-window {
  .tray-box {
    all: unset;
    margin: 6px 3px 6px 0;
    border-radius: 10px;
    color: $fg;
    background-color: $bg-alt;
    padding: 4px;

    .reveal-button {
      all: unset;
      transition: 200ms;
      color: $fg;
      border-radius: 6px;
      padding: 0 4px;

      &:hover {
        background-color: $bg-urg;
      }
    }

    .item-menu-button {
      all: unset;
      transition: 200ms;
      color: $fg;
      border-radius: 6px;
      margin: 0 0 0 2px;
      padding: 0 4px;

      &:hover {
        background-color: $bg-urg;
      }
    }
  }
}
